@font-face {
  font-family: 'octarine-bold';
  src: url('~assets/fonts/octarine.bold.otf');
  src: url('~assets/fonts/octarine.bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
